{
    box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(180deg,#DFDFDF,#AAAAFF);
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width:100%;
  overflow-x:hidden;
}

.game-container {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 800px;
}

.character-name{
  top: 25%;
  position: relative;
  text-align: center;
  innerText: "";
  font-size: 32px;
}

.grid-cell{
  position: : absolute;
  width: : 16px;
  height: 16px;
}

.buttons{
  text-align: center;
  margin: auto;
  position: relative;
  top: 50%;
}

.button {
  background-color: #0BAAFF;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4f;
}

.button:hover {
  background-color: #0977DD;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button-host {
  background-color: #0BAAFF;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4f;
}

.button-host:hover {
  background-color: #0977DD;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.give-name {
  margin: auto;
  top: 30%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 32px 32px;
  align-items: center;
  text-align: center;
  width: 350px;
  height: 80px;
}
